.contactContainer{
    padding-top: 25px;
    padding-bottom: 25px;
}
.contactContainer .contactForm{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
    margin-bottom: 50px;
    font-weight: bold;
}
.contactContainer .contactForm .inputContainer{
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.contactContainer .contactForm .inputContainer label{
    width: 10%;
    margin-bottom: 2.5px;
    
}

.contactContainer .contactForm .inputContainer input, .inputContainer select, .inputContainer textarea{
    width: 100%;
    padding: 2px;

}
.contactContainer .contactForm .submitButt{
    margin-top: 10px;
    font-size: 1em;
    font-weight: bold;
    font-family: 'Terminal Medium';
    padding: 10px 0;
    width: 100%;
    background-color: #000000;
    color: #ffffff;
}
.contactContainer .contactForm .submitButt:hover{
    cursor: pointer;
}
@media(max-width: 750px){
    .contactContainer{
        padding: 15px 0;
    }
    .contactContainer .contactForm{
        width: 90%;
       
    }
    .contactContainer .contactForm .inputContainer input, .inputContainer select, .inputContainer textarea{
        padding: 1px;
    
    }
    .contactContainer .contactForm .inputContainer select{
        appearance: none;
        background-color: transparent;
        margin: 0;
        width: 100%;
        z-index: 1;
        min-width: 15ch;
        padding: 2px;
        /* border-width: 2px;
        border-style: inset;
        border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
        border-image: initial; */
      
        cursor: pointer;
        /* line-height: 1.1; */

        background-color: #fff;


    }
    .contactContainer .contactForm .inputContainer select::-ms-expand {
        display: none;
      }

}