.fabricSection{
    padding: 25px 0;
}
.fabricSection img{
    width: 100%;
    object-fit: contain;
    height: auto;
}
@media(max-width: 750px){
    .fabricSection{
        padding: 15px 0;
    }
    .fabricSection p{
        margin-top: -20px;
    }
}