.gearSection{
    display: flex;
    flex-wrap: wrap;
    padding-top: 25px;
    padding-bottom: 25px;
    justify-content: space-between;
}
.gearSection p{
    margin-bottom: 10px;
}
.gearSection .contentContainer{
    display: flex;
    flex-direction: column;
    flex: 0 1 22%;
    margin: 15px;
    position: relative;
    text-align: center;
}

.gearSection .contentContainer img{
    width: auto;
    height: 150px;
    object-fit: contain;
    margin-bottom: 10px;
}
.gearSection .contentContainer h3{
    font-size: 1.35em;
}
.gearSection .contentContainer div{
    position: absolute;
    top: 5%;
}
.gearSection .contentContainer .fiveDollar{
    background-image: url('../../public/images/five.png');
    width: 100px;
    height: 100px;
    background-size: cover;
}
.gearSection .contentContainer .tenDollar{
    background-image: url('../../public/images/ten.png');
    width: 100px;
    height: 100px;
    background-size: cover;
}
.gearSection .contentContainer .fifteenDollar{
    background-image: url('../../public/images/fifteen.png');
    width: 100px;
    height: 100px;
    background-size: cover;
}
.gearSection .contentContainer .twentyfiveDollar{
    background-image: url('../../public/images/twentyfive.png');
    width: 100px;
    height: 100px;
    background-size: cover;
}
.gearSection .contentContainer .thirtyDollar{
    background-image: url('../../public/images/thirty.png');
    width: 100px;
    height: 100px;
    background-size: cover;
}
@media(max-width: 600px){
    .gearSection{
        padding-top: 15px;
        padding-bottom: 15px;
        justify-content: center;
    }
    .gearSection p{
        margin-bottom: 0px;
    }
    .gearSection .contentContainer{
        flex: 0 1 45%;
        margin: 0;
        margin-top: 10px;
        margin-bottom: 10px;
        
    }
    .gearSection .contentContainer img{
        height: 100px;
    }
    .gearSection .contentContainer div{
        position: absolute;
        top: 5%;
    }
    .gearSection .contentContainer:nth-child(even) div{
        position: absolute;
        top: 5%;
        right: 0%;
    }
    .gearSection .contentContainer .fiveDollar{
        background-image: url('../../public/images/five.png');
        width: 50px;
        height: 50px;
        background-size: cover;
    }
    .gearSection .contentContainer .tenDollar{
        background-image: url('../../public/images/ten.png');
        width: 50px;
        height: 50px;
        background-size: cover;
    }
    .gearSection .contentContainer .fifteenDollar{
        background-image: url('../../public/images/fifteen.png');
        width: 50px;
        height: 50px;
        background-size: cover;
    }
    .gearSection .contentContainer .twentyfiveDollar{
        background-image: url('../../public/images/twentyfive.png');
        width: 50px;
        height: 50px;
        background-size: cover;
    }
    .gearSection .contentContainer .thirtyDollar{
        background-image: url('../../public/images/thirty.png');
        width: 50px;
        height: 50px;
        background-size: cover;
    }
}
