.headerContainer{
    padding-top: 25px;
}
.aboveNav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
    padding: 0 25px;
}
.aboveNav .empower span{
    display: block;
    letter-spacing: 2.5px;
}
.aboveNav .logoContainer{
    text-align: center;
}
.aboveNav .logoContainer h1{
    font-family: 'Chomsky';
    margin: 10px 0;
    font-size: 85px;
}
.aboveNav .logoContainer span{
    letter-spacing: 10px;
}
.aboveNav .logoContainer .time{
    letter-spacing: 10px;
}
.navSectionContainer{
    border-top: 1px solid #858585;
    border-bottom: 2px solid #000000;
}
.navSectionContainer .navSection{
    margin: 25px 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
}
.navSectionContainer .navSection h3{
    /* font-style: italic; */
    font-weight: normal;
    letter-spacing: 1px;
    
}
@media(max-width: 1600px){
    .aboveNav .logoContainer h1{
        font-family: 'Chomsky';
        margin: 10px 0;
        font-size: 50px;
    }
    .aboveNav img{
        width: 50px;
        height: auto;
    }
}
@media(max-width: 1200px){
    .aboveNav .logoContainer h1{
        font-family: 'Chomsky';
        margin: 10px 0;
        font-size: 35px;
    }
}
@media(max-width: 1000px){
    .aboveNav .logoContainer h1{
        font-family: 'Chomsky';
        margin: 10px 0;
        font-size: 25px;
    }
}
@media(max-width: 750px){
    .headerContainer{
        padding-top: 10px;
    }
    .aboveNav {
        margin-bottom: 10px;
    }
    .aboveNav .logoContainer{
        width: 100%;
    }
    .aboveNav .logoContainer span{
        letter-spacing: 7.5px;
    }
    .aboveNav .logoContainer .headerImage{
        display: flex;
        justify-content: space-between;
    }
    .aboveNav .logoContainer .time{
        letter-spacing: 7.5px;
    }
    .aboveNav .empower span{
        display: block;
        letter-spacing: 1px;
    }
    .aboveNav img{
        width: 15px;
        height: auto;
        object-fit: contain;
    }
    .aboveNav .logoContainer .empower{
        display: flex;
        justify-content: center;
        margin-top: 5px;
    }
    .aboveNav .logoContainer h1{
        font-family: 'Chomsky';
        margin: 5px 0px -2.5px;
        font-size: 20px;
    }
    .navSectionContainer .navSection{
        margin: 10px 0;
        justify-content: center;
        flex-wrap: wrap;
    }
    .navSectionContainer .navSection li{
        margin: 0 5px;
    }
    .navSectionContainer .navSection h3{
        /* font-style: italic; */
        font-weight: normal;
        letter-spacing: 0px;
        font-size: 0.35em!important;
    }
}