.headerContainer{
    padding-top: 25px;
}
.aboveNav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
    padding: 0 25px;
}
.aboveNav .empower span{
    display: block;
    letter-spacing: 2.5px;
}
.aboveNav .logoContainer{
    text-align: center;
}
.aboveNav .logoContainer h1{
    font-family: 'Chomsky';
    margin: 10px 0;
    font-size: 85px;
}
.aboveNav .logoContainer span{
    letter-spacing: 10px;
}
.aboveNav .logoContainer .time{
    letter-spacing: 10px;
}
.navSectionContainer{
    border-top: 1px solid #858585;
    border-bottom: 2px solid #000000;
}
.navSectionContainer .navSection{
    margin: 25px 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
}
.navSectionContainer .navSection h3{
    /* font-style: italic; */
    font-weight: normal;
    letter-spacing: 1px;
    
}