.main{
  display: none;
  background: url('../../public/images/newspaperBg.jpeg');
  background-size: auto;
  
}
.main.active{
  display: block;
  opacity: 0;
  animation: 1.5s fadeIn ease-in forwards;
}
.main .compContainer .compHeader{
  text-align: center;
  padding-top: 50px;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}