.main{
  display: none;
  max-width: 1170px;
  padding-right: 45px;
  padding-left: 45px;
  margin-right: auto;
  margin-left: auto;
  
}
.main.active{
  display: block;
  opacity: 0;
  animation: 1.5s fadeIn ease-in forwards;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}