.introContainer{
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: #000000;
}
.introContainer.inactive{
    display: none;
}
.introContainer .photosContainer{
    position: relative;
    width: 100%;
    height: 100%;
}
.introContainer .photosContainer .photoContainer{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0px;
    height: auto;
    transition: .1s;
} 

/* HANDLE LEFT SCROLL */
/* .introContainer .photosContainer .photoContainer[data-step="0"]{
    display: none;
}
.introContainer .photosContainer .photoContainer.active{
    width: 0px;
    display: block;
}
.introContainer .photosContainer .photoContainer.active[data-step="0"]
{
    left: 50%;
    width: 0px;
}
.introContainer .photosContainer .photoContainer.active[data-step="1"]
{
    left: 40%;
    width: 50px;
}
.introContainer .photosContainer .photoContainer.active[data-step="2"]
{
    left: 30%;
    width: 100px;
}
.introContainer .photosContainer .photoContainer.active[data-step="3"]
{
    left: 20%;
    width: 150px;
}
.introContainer .photosContainer .photoContainer.active[data-step="4"]
{
    left: 10%;
    width: 200px;
}
.introContainer .photosContainer .photoContainer.active[data-step="5"]
{
    left: 0%;
    width: 250px;
}
.introContainer .photosContainer .photoContainer.active[data-step="6"]
{
    left: -10%;
    width: 300px;
}
.introContainer .photosContainer .photoContainer.active[data-step="7"]
{
    left: -20%;
    width: 350px;
} */

/* HANDLE RIGHT SCROLL */
/* .introContainer .photosContainer .photoContainer.active[data-step="0"]
{
    left: 50%;
    width: 0px;
}
.introContainer .photosContainer .photoContainer.active[data-step="-1"]
{
    left: 60%;
    width: 50px;
}
.introContainer .photosContainer .photoContainer.active[data-step="-2"]
{
    left: 70%;
    width: 100px;
}
.introContainer .photosContainer .photoContainer.active[data-step="-3"]
{
    left: 80%;
    width: 150px;
}
.introContainer .photosContainer .photoContainer.active[data-step="-4"]
{
    left: 90%;
    width: 200px;
}
.introContainer .photosContainer .photoContainer.active[data-step="-5"]
{
    left: 100%;
    width: 250px;
}
.introContainer .photosContainer .photoContainer.active[data-step="-6"]
{
    left: 110%;
    width: 300px;
}
.introContainer .photosContainer .photoContainer.active[data-step="-7"]
{
    left: 120%;
    width: 350px;
} */
.introContainer .photosContainer .photoContainer .photo{
    width: 100%;
    height: auto;
}

/* HANDLE LAST 3 IMAGES ZOOM IN */
/* .introContainer .photosContainer .photoContainer[data-step="10"]{
    display: none;
}
.introContainer .photosContainer .photoContainer.active[data-step="10"]
{
    display: block;
    width: 50vw;
}
.introContainer .photosContainer .photoContainer.active[data-step="20"]
{
    width: 100vw;
}
.introContainer .photosContainer .photoContainer.active[data-step="30"]
{
    width: 200vw;
}
.introContainer .photosContainer .photoContainer.active[data-step="40"]
{
    width: 350vw;
}
.introContainer .photosContainer .photoContainer.active[data-step="50"]
{
    width: 550vw;
}
.introContainer .photosContainer .photoContainer.active[data-step="60"]
{
    width: 800vw;
}
.introContainer .photosContainer .photoContainer.active[data-step="70"]
{
    width: 1100vw;
}
.introContainer .photosContainer .photoContainer.active[data-step="80"]
{
    width: 11000vw;
}
.introContainer .photosContainer .photoContainer.active[data-step="90"]
{
    width: 11000vw;
} */

.scrollTextContainer{
    opacity: 1;
    transition: all 0.15s linear;
}
.scrollTextContainer.inactive{
    opacity: 0;
    transition: all 0.15s linear;
}

  .introContainer .photosContainer .photoContainer[data-step="0"]{
    display: none;
}
.introContainer .photosContainer .photoContainer.active{
    width: 0px;
    display: block;
}
.introContainer .photosContainer .photoContainer.active:nth-child(odd)[data-step="0"]
{
    left: 50%;
    width: 0px;
    display: block;
}
.introContainer .photosContainer .photoContainer.active:nth-child(odd)[data-step="1"]
{
    left: 40%;
    width: 75px;
}
.introContainer .photosContainer .photoContainer.active:nth-child(odd)[data-step="2"]
{
    left: 30%;
    width: 150px;
}
.introContainer .photosContainer .photoContainer.active:nth-child(odd)[data-step="3"]
{
    left: 20%;
    width: 225px;
}
.introContainer .photosContainer .photoContainer.active:nth-child(odd)[data-step="4"]
{
    left: 10%;
    width: 300px;
}
.introContainer .photosContainer .photoContainer.active:nth-child(odd)[data-step="5"]
{
    left: 0%;
    width: 375px;
}
.introContainer .photosContainer .photoContainer.active:nth-child(odd)[data-step="6"]
{
    left: -10%;
    width: 450px;
}
.introContainer .photosContainer .photoContainer.active:nth-child(odd)[data-step="7"]
{
    left: -20%;
    width: 525px;
}

.introContainer .photosContainer .photoContainer.active:nth-child(even)[data-step="0"]
{
    left: 50%;
    width: 0px;
}
.introContainer .photosContainer .photoContainer.active:nth-child(even)[data-step="1"]
{
    left: 60%;
    width: 75px;
}
.introContainer .photosContainer .photoContainer.active:nth-child(even)[data-step="2"]
{
    left: 70%;
    width: 150px;
}
.introContainer .photosContainer .photoContainer.active:nth-child(even)[data-step="3"]
{
    left: 80%;
    width: 225px;
}
.introContainer .photosContainer .photoContainer.active:nth-child(even)[data-step="4"]
{
    left: 90%;
    width: 300px;
}
.introContainer .photosContainer .photoContainer.active:nth-child(even)[data-step="5"]
{
    left: 100%;
    width: 375px;
}
.introContainer .photosContainer .photoContainer.active:nth-child(even)[data-step="6"]
{
    left: 110%;
    width: 450px;
}
.introContainer .photosContainer .photoContainer.active:nth-child(even)[data-step="7"]
{
    left: 120%;
    width: 525px;
}


.introContainer .photosContainer .photoContainer.active:nth-last-child(-n+3)[data-step="0"]
{
    display: block!important;
    width: 50vw;
    left: 50%;
}
.introContainer .photosContainer .photoContainer.active:nth-last-child(-n+3)[data-step="1"]
{
    width: 150vw;
    left: 50%!important;
}
.introContainer .photosContainer .photoContainer.active:nth-last-child(-n+3)[data-step="2"]
{
    width: 300vw;
    left: 50%!important;
}
.introContainer .photosContainer .photoContainer.active:nth-last-child(-n+3)[data-step="3"]
{
    width: 600vw;
    left: 50%!important;
}
.introContainer .photosContainer .photoContainer.active:nth-last-child(-n+3)[data-step="4"]
{
    width: 1200vw;
    left: 50%!important;
}
.introContainer .photosContainer .photoContainer.active:nth-last-child(-n+3)[data-step="5"]
{
    width: 2400vw;
    left: 50%!important;
}
.introContainer .photosContainer .photoContainer.active:nth-last-child(-n+3)[data-step="6"]
{
    width: 4800vw;
    left: 50%!important;
}
.introContainer .photosContainer .photoContainer.active:nth-last-child(-n+3)[data-step="7"]
{
    width: 9600vw;
    left: 50%!important;
}
/* .scrollContainer{
    width: 30px;
    height: 60px;
    border: 3px solid #fff;
    border-radius: 15px;
    position: absolute;
    left: 50%;
    top: 87%;
    transform: translateX(-50%);
  }
  
  .scroller{
    width: 16px;
    border-radius: 8px;
    background-color: #fff;
    position: absolute;
    top: 4px;
    left: 4.5px;
    bottom: 34px;
    animation: scroller 1500ms ease-out infinite;
  } */
  .scrollContainer{
    width: unset;
    height: unset;
    border: none;
    border-radius: none;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .scroller{
    width: 30px;
    height: 30px;
    /* border-radius: none;
    background-color: unset;
    position: unset;
    top: unset;
    left: unset;
    bottom: unset; */
    background-image: url('../../public/images/tap.gif');
    animation: none;
    background-size: cover;
  }
  @keyframes scroller{
    0%{
      bottom: 34px;
    }
    5%{
      top: 4px;
    }
    32%{    
      bottom: 4px;
    }
    66%{
      top: 34px;
      bottom: 4px;
    }
    100%{
      top: 4px;
      bottom: 34px;
    }
  }

@media(max-width: 750px){
    .introContainer{
        height: 100dvh;
    }
    .scrollContainer{
        width: unset;
        height: unset;
        border: none;
        border-radius: none;
        position: absolute;
      }
      
      .scroller{
        width: 30px;
        height: 30px;
        border-radius: none;
        background-color: unset;
        position: unset;
        top: unset;
        left: unset;
        bottom: unset;
        background-image: url('../../public/images/tap.gif');
        animation: none;
        background-size: cover;
      }

    .introContainer .photosContainer .photoContainer.active:nth-child(odd){
        width: 0px;
        display: block;
    }
    .introContainer .photosContainer .photoContainer.active:nth-child(odd)[data-step="0"]
    {
        left: 50%;
        width: 0px;
    }
    .introContainer .photosContainer .photoContainer.active:nth-child(odd)[data-step="1"]
    {
        left: 35%;
        width: 50px;
    }
    .introContainer .photosContainer .photoContainer.active:nth-child(odd)[data-step="2"]
    {
        left: 20%;
        width: 100px;
    }
    .introContainer .photosContainer .photoContainer.active:nth-child(odd)[data-step="3"]
    {
        left: 5%;
        width: 150px;
    }
    .introContainer .photosContainer .photoContainer.active:nth-child(odd)[data-step="4"]
    {
        left: -10%;
        width: 200px;
    }
    .introContainer .photosContainer .photoContainer.active:nth-child(odd)[data-step="5"]
    {
        left: -25%;
        width: 250px;
    }
    .introContainer .photosContainer .photoContainer.active:nth-child(odd)[data-step="6"]
    {
        left: -40%;
        width: 300px;
    }
    .introContainer .photosContainer .photoContainer.active:nth-child(odd)[data-step="7"]
    {
        left: -55%;
        width: 350px;
    }

    .introContainer .photosContainer .photoContainer.active:nth-child(even)[data-step="0"]
    {
        left: 50%;
        width: 0px;
    }
    .introContainer .photosContainer .photoContainer.active:nth-child(even)[data-step="1"]
    {
        left: 65%;
        width: 50px;
    }
    .introContainer .photosContainer .photoContainer.active:nth-child(even)[data-step="2"]
    {
        left: 80%;
        width: 100px;
    }
    .introContainer .photosContainer .photoContainer.active:nth-child(even)[data-step="3"]
    {
        left: 95%;
        width: 150px;
    }
    .introContainer .photosContainer .photoContainer.active:nth-child(even)[data-step="4"]
    {
        left: 110%;
        width: 200px;
    }
    .introContainer .photosContainer .photoContainer.active:nth-child(even)[data-step="5"]
    {
        left: 125%;
        width: 250px;
    }
    .introContainer .photosContainer .photoContainer.active:nth-child(even)[data-step="6"]
    {
        left: 140%;
        width: 300px;
    }
    .introContainer .photosContainer .photoContainer.active:nth-child(even)[data-step="7"]
    {
        left: 155%;
        width: 350px;
    }


    .introContainer .photosContainer .photoContainer.active:nth-last-child(-n+3)[data-step="0"]
    {
        display: block!important;
        width: 50vw;
        left: 50%;
    }
    .introContainer .photosContainer .photoContainer.active:nth-last-child(-n+3)[data-step="1"]
    {
        width: 150vw;
        left: 50%!important;
    }
    .introContainer .photosContainer .photoContainer.active:nth-last-child(-n+3)[data-step="2"]
    {
        width: 300vw;
        left: 50%!important;
    }
    .introContainer .photosContainer .photoContainer.active:nth-last-child(-n+3)[data-step="3"]
    {
        width: 600vw;
        left: 50%!important;
    }
    .introContainer .photosContainer .photoContainer.active:nth-last-child(-n+3)[data-step="4"]
    {
        width: 1200vw;
        left: 50%!important;
    }
    .introContainer .photosContainer .photoContainer.active:nth-last-child(-n+3)[data-step="5"]
    {
        width: 2400vw;
        left: 50%!important;
    }
    .introContainer .photosContainer .photoContainer.active:nth-last-child(-n+3)[data-step="6"]
    {
        width: 4800vw;
        left: 50%!important;
    }
    .introContainer .photosContainer .photoContainer.active:nth-last-child(-n+3)[data-step="7"]
    {
        width: 9600vw;
        left: 50%!important;
    }
}