.photoSection{
    border-bottom: 2px solid #000000;
    padding: 50px 0;
}
.swiper{
    padding-bottom: 30px!important;
}
.photoSection .contentContainer{
   display: flex;
}
.photoSection .contentContainer .titleDescription{
    margin-right: 25px;
}
.photoSection .carousel .contentContainer .photo{
    float: right;
}