.verticalSection{
    
    padding: 25px 0;
    height: calc(100% - 50px);
    border-bottom: 1px solid #858585;
}
.verticalSection .contentContainer{
    display: flex;
    flex-direction: column;
}
.verticalSection .contentContainer .linkContainer{
    width: 100%;
    height: auto;
    position: relative;
    border: 2px solid #000000;
}
.verticalSection .contentContainer .linkContainer:before{
    content: 'CLICK ME';
    font-weight: bold;
    font-size: 0.6em;
    letter-spacing: 2px;
    background: #000000;
    position: absolute;
    padding: 5px 10px;
    color: #fff;
    left: 0;
    top: 0;
}
.verticalSection .contentContainer img{
    width: 100%;
    height: 100%;
    margin-bottom: -4px;
}
.verticalSection .contentContainer h3{
    margin-top: 25px;
    margin-bottom: 10px;
    font-size: 1.35em;
}
@media(max-width: 750px){
    .verticalSection{
        padding: 15px 0;
    }
    .verticalSection .contentContainer h3{
        margin-top: 10px;
    }
}