.verticalSection{
    
    padding: 25px 0;
    height: calc(100% - 50px);
    border-bottom: 1px solid #858585;
}
.verticalSection .contentContainer{
    display: flex;
    flex-direction: column;
}
.verticalSection .contentContainer img{
    width: 100%;
    height: auto;
    margin-bottom: 25px;
}
.verticalSection .contentContainer h3{
    margin-bottom: 10px;
    font-size: 1.35em;
}
@media(max-width: 600px){
    .verticalSection{
        padding: 15px 0;
    }
    .verticalSection .contentContainer img{
        margin-bottom: 10px;
    }
}