.videoSection{
    border-bottom: 1px solid #858585;
    padding: 25px 0;
}
.videoSection .contentContainer{
    display: flex;
}
.videoSection .contentContainer img{
    width: 50%;
    height: auto;
}
.videoSection .contentContainer .text{
    margin-left: 25px;
    width: 50%;
}
